

.priceTab { background-image:url(../images/price/tab-bg.jpg); background-size:100% auto; }

.content { max-width:80%; top:15%; margin-left:-40%; }
.content > p { font-size:1.05em; line-height:1.2em; margin-top:2em; letter-spacing:.03em; }
.content > h1 { font-size:3.5em; line-height:1.2em; }

.priceList { max-width:450px; height:auto; margin-top:1.5em; }

/*.selectDropdown { width:55%; float:left; }
.priceDetail { width:40%; float:right; }
.priceDetail > p { letter-spacing:.06em; line-height:39px; font-size:1.8em; padding-left:25px; background-position:0 7px; }
*/
.selectDropdown { width:65%; margin:0 auto; }
.priceDetail { width:75%; margin:0 auto; margin-top:1em; overflow:hidden; background-image:url(../images/price/bar-img.png); background-repeat:no-repeat; background-position:center 5px; }
.priceDetail > p { width:40%; letter-spacing:.06em; line-height:.9em; font-size:1.8em; padding-left:20px; background-position:0 2px; text-align:center; }
.priceDetail > p > span { font-size:.4em; line-height:.2em; text-transform:uppercase; }

.priceDetail > p:first-child { float:left; }
.priceDetail > p:last-child { float:right; }

.tncPage { max-width:400px; margin-top:3em; padding:1em 50px 0 50px; }
.tncPage > p { font-size:.85em; line-height:1.2em; }


.productImg { width:80.25%; height:79.7507%; background-image:url(../images/price/tab-bike-img.png); background-size:100% auto; margin-left:-40.125%; }

.homeOne > h2 > a, .homeTwo > h2 > a > span {color:#ffc012;}

@media only screen and (max-width:670px) and (min-width:481px) {
	
	.content > h1 { font-size:3em; line-height:.9em; }
	
	.priceList { max-width:100%;}
	
	.tncPage { max-width:80%; margin-top:3em; padding:1em 10% 0 10%; }
	
	/* select dropdown form */
	.custom-select select { padding:4px 3px 4px 5px; }
	.custom-select:after { line-height:32px; padding:0 10px; }
	
	@media screen and (max-width:540px) {
		
		.content > h1 { width:320px; margin:0 auto; }
			
	}

}

/*@media screen and (max-device-width:1280px) and (min-device-width:100px) and (orientation: landscape){
	
	html,body { height:auto !important; }
	
	.container { height:auto; }
	.priceTab { height:700px !important; background-image:none; }
	
	.content > h1 { background-color:rgba(225,0,0,0.2); }
	
}
*/
/* price tab end */


.bookingTab { background-image:url(../images/price/tab-bg.jpg); background-size:100% auto; }

ul.formList { max-width:288px; margin-top:1em; }
.formList li { margin-bottom:.5em; }
.formList li > .colOne,.formList li > .colTwo { max-width:288px; clear:both; }
.formList li > .colTwo { margin-top:.5em; }
.formList li > .colOne > input, .formList li > .colTwo > input { max-width:94%; padding:12px 3% 11px 3%; line-height:20px; font-size:1em; color:#fff; }


.formList li > .colFour { max-width:130px; margin:1em 79px 0 79px; }
.formList li > .colFour > a { font-size:1.2em; height:20px; line-height:20px; padding:12px 20px 11px 20px; }
.formList li > .colFour > a > span { background-position:right 4px; padding-right:30px; background-size:auto 16px; }


.innerOverlay { width:90%; height:auto; margin:0; background:url(../images/priority-booking/tab/overlay-mid-bg.jpg) repeat-y 0 0; left:5%; top:65px; }
.innerLayer { background:url(../images/priority-booking/tab/overlay-top-bg.jpg) no-repeat 0 0,url(../images/priority-booking/tab/overlay-bottom-bg.jpg) no-repeat 0 bottom; }

.innerLayer > p { font-size:.85em; line-height:1.2em; }

.contentList { height:80%; padding:25% 5% 0 5%; position:relative; }

.droplistTab { width:300px; position:absolute; left:50%; margin-left:-150px; top:72px; z-index:14; }
.colState { width:300px; height:45px; float:left; }
.colCity { width:300px; height:45px; margin:10px 0 0 0; float:left; }

ul.priorityList li { width:100%; margin:1em 0; float:left; height:auto; }

.closeBtn { position:absolute; right:30px; top:30px; width:30px; height:30px; z-index:14; }

.booking-select select { padding:8px 3px 8px 5px; }
.booking-select:after { line-height:42px; padding:0 10px; }

input[type=radio].css-radiobox + label.radiobox-label { padding-left:45px; height:auto; }
input[type=radio].css-radiobox:checked + label.radiobox-label { }
label.radiobox-label { }
label.radiobox-label > h3 { font-size:1.2em; line-height:1.2em; }
label.radiobox-label > p { font-size:1em; line-height:1.2em; margin-top:.5em; }
label.radiobox-label > p.phoneIcon { padding-left:25px; }



@media screen and (max-width:680px) and (min-width:481px) {
	
	ul.formList { max-width:100%; }
	.formList li > .colOne,.formList li > .colTwo { max-width:49%; clear:none; }
	.formList li > .colTwo { margin-top:0; }
	.formList li > .colOne > input, .formList li > .colTwo > input { padding:9px 3% 9px 3%; font-size:.9em; }
	
	.formList li > .colFour { max-width:30%; margin:0; margin-right:19%; text-align:center; }
	.formList li > .colFour > a { font-size:1em; padding:9px 20px 9px 20px; }
	.formList li > .colFour > a > span { background-position:right 4px; padding-right:20px; background-size:auto 10px; }
	
	.contentList { height:65%; padding:35% 5% 0 5%; position:relative; }

}

/* priority dealer end */


.dealerTab { background-image:url(../images/dealer-locator/tab-bg.jpg); background-size:100% auto; }

.dealerContent { max-width:80%; top:15%; margin-left:-40%; }
.dealerContent > h1 { font-size:3em; line-height:1.2em; }
.dealerContent > h2 { font-size:2.8em; line-height:1.2em; margin-top:.3em; }
.dealerContent > p { font-size:.95em; line-height:1.2em; margin-top:2em; }

.dropList { max-width:341px; height:100px; margin-top:1em; }

.selectOne { max-width:341px; float:none; }
.colOne { max-width:288px; }
.selectTwo { max-width:341px; clear:both; margin-top:10px; float:none; }
.colTwo { max-width:44px; }

.colTwo > a { height:39px; background-position:center 10px; }

.listTab { margin-top:.5em; background:none; }

ul.addressList { max-width:100%; } 
.addressList li, .addressList li.listOne { max-width:100%; min-height:auto; padding:20px 0; float:left; text-align:center;  }
.addressList li > h3 { font-size:1.2em; line-height:1.4em; }
.addressList li > p { font-size:1em; line-height:1.2em; }


@media only screen and (max-width:670px) and (min-width:481px) {
	
	.dealerContent > h1 { font-size:2.5em; line-height:.9em; }
	.dealerContent > h2 { font-size:2.1em; }
	
	.colTwo > a { height:32px; background-position:center 7px; }
	
	.tncPage { max-width:80%; margin-top:3em; padding:1em 10% 0 10%; }
	
	/* select dropdown form */
	.custom-select select { padding:4px 3px 4px 5px; }
	.custom-select:after { line-height:32px; padding:0 10px; }
	
	@media screen and (max-width:540px) {
		
		.content > h1 { width:320px; margin:0 auto; }
			
	}

}


/* dealer locator end */


.contactTab { background-image:url(../images/contact-us/tab-bg.jpg); }

.innerContact { max-width:70%; top:17.1875%; left:50%; margin-left:-35%; }

.innerContact > p { max-width:253px; font-size:1.05em; line-height:1.2em; margin:0 auto; margin-bottom:1.5em; letter-spacing:.03em; padding-left:50px; }
.innerContact > h1 { font-size:3.5em; line-height:1.2em; text-align:center; }
.innerContact > h2 { font-size:1em; line-height:1.2em; margin-bottom:1em; text-align:center; }

.innerContact > p.addressCont { background-size:20px auto; background-position:10px 0;  }
.innerContact > p.phoneCont { background-size:36px auto;  }
.innerContact > p.mailCont { background-size:35px auto; background-position:0 5px; }

.contactImg { width:71.125%; height:95.0667%; background-image:url(../images/contact-us/tab-bike-img.png); background-size:100% auto; left:4.625%; }

@media only screen and (max-width:670px) and (min-width:481px) {
	
	.contactImg { width:55.125%; height:95.0667%; background-image:url(../images/contact-us/tab-bike-img.png); background-size:100% auto; left:4.625%; }

}

/* contact us end */

.eventsTab { background-image:url(../images/events/tab-bg.jpg); background-position:0 bottom; background-size:100% auto; height:0; padding-bottom:180%; }

.eventsContent { max-width:452px; top:10%; margin-left:-226px; }
.eventsContent > h1 { font-size:3em; line-height:1.2em; padding:0; text-align:center;  }

.eventsList { }

.eventsList ul li,.eventsList ul li.listCenter { max-width:452px; height:auto; margin:15px 0; float:left; clear:both; }
.eventsList ul li > .hdrImage { margin-bottom:.5em; }
.eventsList ul li > h2 { font-size:1.3em; line-height:1.2em; margin-bottom:.2em; }
.eventsList ul li > p { font-size:1em; line-height:1.2em; margin-bottom:.5em; }
.eventsList ul li > a.knowMoreBtn { width:124px; height:37px; background-image:url(../images/events/desk-know-more-bg.png); font-size:.85em; line-height:40px; text-align:center; }
.eventsList ul li > a.knowMoreBtn > span { background-position:right 4px; padding-right:14px; background-size:auto 10px; }


/* Event tab end */
.mainBanner { width:100%; height:30.5156%; background-position:center top, 0 0; background-image:url(../images/events/inner-events/tab-banner.png),url(../images/events/inner-events/banner-bg.png); background-size:auto 100%,100% 100%; }
.mainBanner > h1 { left:2%; bottom:-27%; font-size:3.2em; line-height:.8em; max-width:95%; margin-left:0; color:#fff; text-align:left; }

.innerEvents { max-width:95%; margin-top:15%; }
.innerEvents > p { font-size:.95em; line-height:1.5em; margin-top:.8em; }
.innerEvents > h2 { font-size:1.5em; line-height:.8em; display:none; }

.galleryList { width:100%; max-width:489px; margin:0 auto; margin-top:1em; }

.galleryList > ul { max-width:489px; }
.galleryList > ul > li { width:163px; float:left; }

.close-Btn {

    right: 4px;

}

.arrowPrev, .arrowNext { width:30px; height:112px; }
.arrowPrev { left:0; }
.arrowNext { right:0; }

@media screen and (max-width:770px) and (min-width:481px) {

	.mainBanner > h1 { bottom:-32%; }
	
	@media screen and (max-width:650px) {
	
		.mainBanner > h1 { bottom:-38%; font-size:2.8em; }	
	
	}
	
	@media screen and (max-width:550px) {
	
		.innerEvents { max-width:95%; margin-top:18%; }
	
	}
}

/* inner event tab end */

.sitemapTab { background-image:url(../images/sitemap/tab/bg-banner.jpg); background-position:center 0; background-size:100% 100%; }

.innerSitemap { max-width:80%; padding-top:10%; }
.innerSitemap > h1 { font-size:3em; line-height:1.2em; }

.sitePanelRow { width:100%; margin-top:2em; }

.sitePanel > ul { width:82%; margin:1em 0 0 18%; }
.sitePanel > ul li { font-size:1.3em; padding-left:20px; background-position:0 6px; margin-bottom:.2em; }
.sitePanel > ul li > a { line-height:1.2em; }
.sitePanel > ul li > ul { margin-top:.5em; }
.sitePanel > ul li > ul li { width:100%; margin-bottom:.2em; font-size:1em; }

.oneSitemap > ul > li:nth-child(7) { margin-top:5%; }
.twoSitemap > ul > li:nth-child(2) { margin-top:16%; }


.bikeIcon { right:8.25%; bottom:11.2%; width:78.625%; height:56%; background-image:url(../images/sitemap/tab/bike-img.png); }

@media screen and (max-width:768px) and (min-width:481px) {
/*.homeTab#homeTab01 { background-image:url(../images/home/desk/bg-fire-bike.jpg);}*/
	.sitePanel > ul { margin:1em 0 0 18%; }
	.sitePanel > ul li { font-size:1em; padding-left:20px; background-position:0 5px; margin-bottom:.2em; }
	
	.bikeIcon { bottom:1.2%; }
	
	@media screen and (max-width:640px) {
		
		.sitePanel > ul { margin:0 0 0 18%; }
		.sitePanel > ul li { font-size:1em; background-size:auto 8px; margin-bottom:.2em; }
		.sitePanel > ul li > ul { margin-top:.1em; }
		.sitePanel > ul li > ul li { margin-bottom:0; }
		
		.bikeIcon { width:60.625%; height:50%; bottom:1.2%; right:15.25%; }
	
	}
	@media screen and (max-width:600px) {
		
		.sitePanel > ul { margin:1em 0 0 18%; }
		.sitePanel > ul li { font-size:1em; background-size:auto 8px; margin-bottom:.2em; }
		.sitePanel > ul li > ul { margin-top:.1em; }
		.sitePanel > ul li > ul li { margin-bottom:0; }
	
	}
	

}

/* stie map end */


/*.homeTab { background-image:url(../images/home/tab/home-bg.jpg); background-position:center 0; background-size:100% auto; background-color:#000; }*/
/*.homeTab#homeTab01 { background-image:url(../images/home/tab/home-slider01.jpg);  background-position:center 0; background-size:100% 100%; background-color:#000;}
.homeTab#homeTab01 { background-image:url(../images/home/tab/home-bg-fire.jpg);  background-position:center 0; background-size:100% 100%; background-color:#000;}*/
.homeTab#homeTab1 { background-image:url(../images/home/tab/home-bg2.jpg);  background-position:center 0; background-size:100% 100%; background-color:#000;}


.bikeImage { width:100%; right:0; /*top:40.5468%;*/ }
.bikeImage#bikeImage01 { bottom:19.4074%; }
.bikeImage#bikeImage1 { bottom:19.4074%; }
.bikeImage#bikeImage2 { top:35.4074%; }

.homeContainer#homeContainer01{ width:45%; position:absolute; left:5.75%; top:15.625%; }
.homeContainer#homeContainer1{ width:45%; position:absolute; left:5.75%; top:15.625%; }
.homeContainer#homeContainer2{ width:45%; position:absolute; left:10.75%; top:20.625%; }
.homeContainer > .discover-btn { width:59.6741%; margin-top:1.5em;  }

/*.extTab { margin-top:40.4687%; }*/


.homeOne { width:43.5483%; margin-left:5.3763%; }
.homeTwo { width:45.4301%; padding-bottom:25%;  margin-right:1.2096%; }

/*.homeTwo > .icon { width:100%; top:28%; margin-left:-65%;  }
.homeTwo > .icon > a > img { width:100%; height:auto; vertical-align:top; }*/

/*.homeOne > h2, .homeTwo > h2 { font-size:2em; line-height:1.2em; }
.homeOne > h2 > a span,.homeTwo > h2 > a span { padding-right:35px; background-position:right 10px; }
.homeTwo > p { font-size:.95em; line-height:.7em; color:#fff; }

*/

.centered-btns_tabs { display:none;}

.centered-btns_nav { display:block;}

.homeOne > h2, .homeTwo > h2 { font-size:1.5em; line-height:1.4em; }
	.homeOne > h2 > a span,.homeTwo > h2 > a span { padding-right:30px; background-position:right 8px; background-size:auto 15px; }
	.homeTwo > p { font-size:.8em; }
.galleryHome { margin-top:.5em; }


/****slide 01 *****/
#homeContainer01.homeContainer {width: 70%;left: 9%;}
#homeContainer01 p {font-size: 0.7em;}
#homeContainer01 h1 {letter-spacing: 4px;font-size: 1.8em;line-height: 1.3em;}
.homeContainer > .discover-btn {width: 40%;}
#bikeImage01.bikeImage {bottom: 26%;width: 46%;right: 4%;display:block;}





@media screen and (max-width:640px) and (min-width:481px) {

	/*.homeTab { background-position:center -75px; }*/
	.extTab { margin-top:25.4687%; }
	
	#homeContainer01 h1 {font-size: 1.3em;letter-spacing: 3px;}
	#homeContainer01 p {font-size: 0.6em;}

}


@media screen and (min-device-width: 481px) and (max-device-width: 800px) and (orientation : portrait){
	
	html,body { height:auto; }
	body { overflow:visible; }
	
	.homeContainer#homeContainer01 { width:68%; position:absolute; left:50%; top:13%; margin-left:-39%; }
	.homeContainer#homeContainer1 { width:68%; position:absolute; left:50%; top:13%; margin-left:-39%; }
	.homeContainer#homeContainer2 { width:68%; position:absolute; left:50%; top:13%; margin-left:-39%; }
	
	.homeTab#homeTab01 { height:0; background-image:url(../images/home/tab/home-bg-fire.jpg); background-position:center 0; background-size:100% auto; background-color:#000; padding-bottom:153%; }
	.homeTab#homeTab1 { height:0; background-image:url(../images/home/tab/home-bg.jpg); background-position:center 0; background-size:100% auto; background-color:#000; padding-bottom:153%; }
	.homeTab#homeTab2 { height:0; background-image:url(../images/home/tab/home-bg-yellow.jpg); background-position:center 0; background-size:100% auto; background-color:#000; padding-bottom:153%; }
	
	.bikeImage#bikeImage01 { width:100%; right:0;  top:0; margin-top:52%; display:none;}
	.bikeImage#bikeImage1 { width:100%; right:0;  top:0; margin-top:52%; display:none;}
	.bikeImage#bikeImage2 { top:49.4074%; right:8%; }
	
	.extTab { margin-top:100%; }
	
	.footer { position:relative;}
	
	#homeContainer01 p {font-size: 0.6em;}
	.homeContainer > .discover-btn {width: 46%;}
}


/* Home tab end */